body {
  font-family: "Poppins", arial, sans-serif;
  color: #3a3a3a;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(../media/background-pic.jpg);
  background-attachment: fixed, fixed;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

h1 {
  font-family: "Yeseva One", arial, sans-serif;
  line-height: 2.5rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 700px;
}

.weather-app {
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  background: inherit;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.weather-app:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  margin: -20px;
}

.overview {
  margin-bottom: 20px;
}

.weather-icon {
  color: darkgreen;
  font-size: 50px;
  margin-right: 12px;
}

.weather-temperature strong {
  font-size: 65px;
  line-height: 1;
}

.units a {
  text-decoration: none;
}

.forecast-space {
  margin-top: 15px;
}

.credits {
  font-family: monospace;
  color: #777777;
}

.credits a {
  text-decoration: none;
  color: #6e5ac5;
}
